<header class="SiteHeader">
  <a href="/"><img src="/images/indyelixir.svg" class="Logo"></a>

  <h1 class="Banner">The Indianapolis Elixir Users Group</h1>

  <a href="https://meetingplace.io/indyelixir/" class="Button Button--meetingplace Button--block"><strong>Join us on MeetingPlace.io →</strong></a>

  <a href="http://www.twitter.com/indyelixir/" class="Button Button--twitter Button--block"><strong>Follow @indyelixir →</strong></a>

  <a href="https://indyhackers-slack.herokuapp.com/" class="Button Button--indyhackers Button--block"><strong>Chat in #indy-elixir on the IndyHackers Slack →</strong></a>
</header>
